<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>course info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>

input[type=text],input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 30%;
    margin-left:35%;
}
input[type=submit] {
    background-color: #F40076;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left:35%;


}
label
{
		margin-left:35%;

}
body
{
background-color: #7F95D1;
}

</style>
</head>

<body>
<form  th:action="@{/created}" th:object="${Course}" method="get">
<label> CourseName </label><br/>
<input type="text" th:field="*{name}"/><br/>
<label> Age</label><br/>
<input type="number" th:field="*{age}"/><br/>
<label> Created by</label><br/>
<input type="text" th:field="*{teacher}"/><br/>
<input type="submit" th:field="submit"/>
</form>
</body>
</html>