<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>courses</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>

body
{
	background-color:#7F95D1;
	
}
th{
 font-size:20px;
 
}
h2{
text-align:center;
color:white;
}
table,th,td
{
 margin-left: 25%;
 text-align: left; 
  width:50%;
font-size:16px;
}
.button{


    border: none;
    color: white;
        text-align: center;
      
}
</style>
</head>
<body>

<h2>Our courses</h2>
        <table >
            <tr>
                <th> Name </th>
                <th> Teacher </th>
                <th> play game </th>
                
            </tr>
            <tr th:each="course : ${courses}">
                 
                <td th:text="${course.name}">Name</td>
                <td th:text="${course.teacher}">Teacher</td>
                <td> <a th:href = "@{'/showgames/'+${course.name}}" class="button" >Show </a> </td>
            </tr>
        </table>
       
</body>
</html>