<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>

.button
{

    background-color: #F40076 ;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 110px;
    cursor: pointer;
	border-radius: 45%;
	margin-top:13%;
	margin-left:43%;
	width: 10%;
}
h2
{
     
       
		text-align:center;
        color:white;
}
body
{
  background-color: #7F95D1;
}

</style>

</head>
<body>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/> 
 
 <h2>Go to next questions</h2> <br/>
  <a href="/game/ask/question" th:href="@{/game/ask/question}" class="button">Next</a>
</body>
</html>